.header {
    background-color: black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    border-bottom: 3px solid rgb(74, 74, 165);
}

.logo {
    margin-left: 2%;
}

.botones_header {
    display: flex;
}


@media (max-width: "430px") {
    .header {
        display: none;
    }
}