@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.campos {

    font-family: "Source Code Pro", serif;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin: 3% 10%; */
}

.placeholder {

   width: 563px;
   /* height: 62px;*/
   border-radius: 15px;
   font-size: 18px;
}

.nombre {
    padding-bottom: 1%;
}